* {
  margin: 0;
  padding: 0;
  font-family: Okra, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  text-decoration: none;
  overflow-x: hidden;
}

/*--------------------------------------------Header Container--------------------------------------------*/
.header-image-container {
  position: relative;
  width: 100%;
  /* z-index: -1; */
  overflow: hidden;
  object-fit: cover;
  margin-bottom: 40px;
}

/*--------------------------------------------Zomato Header Container--------------------------------------------*/
.zomato-name-container {
  position: absolute;
  top: 200px;

  left: 450px;
}

.zomato-name-container img {
  width: 400px;
  height: 70px;
  font-weight: 900;
  color: whitesmoke;
}

.h3-container h3 {
  color: whitesmoke;
  font-weight: 200;
  padding: 20px;
  font-size: 2em;
  position: absolute;
  top: 280px;
  left: 350px;
}

/*--------------------------------------------Navigation Header Container--------------------------------------------*/
.header-nav-container {
  height: 100px;
  width: 100%;
  display: flex;
  top: 0;
  margin: 30px 0px;
  position: absolute;

  justify-content: space-around;
  flex-direction: row;
}

.header-nav-container-row {
  margin: 12px;
}

.header-nav-container-row a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 15px;
  font-weight: 300;
  margin: 0px;
}

.header-nav-container-row-one a {
  text-decoration: none;
  color: whitesmoke;
  margin: 20px 5px;
  gap: 20px;
  line-height: 1px;
  padding: 20px 20px;
  font-size: 16px;
  font-weight: 400;
  font-family: Okra, Helvetica, sans-serif;
}

/*--------------------------------------------Search Container--------------------------------------------*/
/* .search-container{
   
    width: 400px;
    display: flex;
 
align-items: center;
    justify-content: center;

} */

.search-container {
  display: flex;
  width: 55vw;
  position: absolute;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  border-radius: 10px;
  padding: 5px 20px;

  top: 370px;
  left: 280px;
}

.search-container input {
  outline: none;
  /* border-left: 1px solid gray; */
  border-bottom: none;
  border: none;
  border-right: none;
  border-top: none;
  width: 50%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 20px;
  padding-left: 5px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.4px;
}

/* .search-container input::placeholder{
    outline: none;
    /* border-left: 1px solid gray; */
/*   border-bottom: none;
    border: none;
    border-right: none;
    border-top: none;
    width: 50%;
    margin-left: 20px;
    padding-left: 5px ;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.4px;
    color:rgb(175, 171, 171);
 
 } */

.search-container p {
  font-size: 15px;
  padding-left: 15px;
  color: rgb(139, 137, 137);
  /* border-right:1px solid gray; */
  font-size: 1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* font-family: Okra, Helvetica, sans-serif; */
  padding-right: 100px;
}

.search-container img {
  width: 25px;

  padding-left: 0px;
}

/* i:first-child */
.search-container i {
  width: 25px;
  color: rgb(170, 164, 164);
  padding-left: 0px;
}

.line {
  height: 20px;
  width: 0px;
  margin: 15px;
  border-bottom: none;
  border-left: none;
  border-top: none;
  border-left: 1px solid rgb(203, 201, 201);
}

.search-select {
  width: 60px;
  border: none;
  /* padding-left: 10px; */
  /* color: grey; */
  outline: none;
  background-color: white;
  font-family: ember-light;
  background-color: rgb(230, 227, 227);
}

/* -------------------------------Image order Online Container----------------------------------- */

.image-container {
  margin-bottom: 13vh;
  display: flex;
  cursor: pointer;
  justify-content: center;
  margin: 12px 0px;
}

.zain {
  width: 100px;
  display: inline;
}

.zain span {
  color: white;
}

.zain img {
  height: 30px;
  width: 30px;
  margin: 0;
  padding: 0;
}

.image-box {
  position: relative;
  border-radius: 15px;
  width: 500px;
  height: 75%;
  margin: 3px 15px;
  box-shadow: 0 1px 2px rgb(212, 210, 210);
  /* background-color: rgb(247, 244, 244); */
  overflow: hidden;

  transition: transform 0.3s ease, box-shadow 0.3s ease;
  /* Smooth transition */
}

.image-box:hover {
  transform: scale(1.05);
  /* Slightly enlarge the container */
  /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);  */
  /* Add shadow */
}

.image-box img {
  width: 100%;
  height: 200px;
  border-radius: 15px;
  /* border: 1px solid rgb(172, 170, 170); */
  z-index: -1;
}

.image-title {
  position: absolute;
  bottom: 3px;
  align-items: center;
  border-radius: 0 0 15px 15px;
  width: 100%;
  height: 25%;
  z-index: 2;

  background-color: white;
}

.image-title span {
  text-align: start;
  padding-left: 0px;
  padding-top: 5px;
  font-weight: 550;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 17px;
  padding-bottom: 10px;
  color: rgb(56, 56, 56);
  letter-spacing: 0.7px;
}

.image-title p {
  text-align: start;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
  padding-top: 5px;
  padding-left: 15px;
  color: rgb(56, 56, 56);
  letter-spacing: 0.7px;
}

/* -------------------------------Collection  Container----------------------------------- */
.collection-container {
  margin: 80px 200px;
}

.collection-title-container h2 {
  font-size: 2.7rem;
  font-weight: lighter;
  margin-bottom: 10px;
  font-family: Okra, Helvetica, sans-serif;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}

.collection-title-container div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.collection-title-container h6 {
  margin: 0;
  font-size: 1rem;
  font-family: Okra, Helvetica, sans-serif;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-weight: lighter;
  color: rgb(99, 98, 98);
}

.fa-caret-right,
.collection-title-container span {
  color: rgb(224, 53, 70);
  font-family: Okra, Helvetica, sans-serif;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}

.collection-box-image {
  border-radius: 8px;
  height: 300px;
  width: 320px;
  overflow: hidden;
  margin-left: 0px;
  position: relative;
}
.collection-box-image:nth-child(2) {
  margin-left: 20px;
}
.collection-box-image div {
  position: absolute;
  background: linear-gradient(transparent, black);
  width: 100%;
  height: 25%;
  display: flex;
  align-items: flex-end;
  bottom: 0;
}
.collection-box-image div span:first-child {
  display: inline-block;
  color: white;
  padding-left: 15px;
  font-size: 1rem;
  padding-bottom: 1px;
}
.collection-box-image i {
  color: white;
  padding-bottom: 15px;
}
.collection-box-image img {
  border-radius: 8px;
  height: 300px;
  width: 320px;

  object-fit: cover;
}
.collection-image-container {
  display: flex;
  /* justify-content: space-between; */
  margin-top: 50px;
  margin-bottom: 130px;
}
/* -------------------------------Popular localities  Container----------------------------------- */
.popular-container {
  margin: 20px 200px;
}
.popular-box-container {
  display: grid;
  justify-content: center;
  column-gap: 20px;
  row-gap: 20px;
  grid-template-columns: 340px 340px 340px;
  grid-template-rows: auto;
}
.popular-box {
  /* width: 300px; */
  /* padding: 30px; */
  /* height: 50px; */
  /* margin-top: 50px; */
  /* border-radius: 12px; */

  padding: 1.2rem 1.5rem;
  border-radius: 0.8rem;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(232, 232, 232);
  box-shadow: 0 1px 3px rgb (226, 223, 223);
  margin-bottom: 0.5rem;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  /* border: 1px solid rgba(128, 121, 121, 0.1);
  box-shadow: -5px -5px 10px rgba(230, 229, 229, 0.1),
    5px 5px 10px rgba(227, 220, 220, 0.1); */
}
.popular-box:hover{
  box-shadow: -5px -5px 10px rgba(230, 229, 229, 0.1),
      5px 5px 10px rgba(227, 220, 220, 0.1);
   
}
.popular-container h1 {
  letter-spacing: 1px;
  font-weight: 100;
  margin: 0px;
  margin-bottom: 30px;
  color: rgb(54, 54, 54);
  font-size: 2rem;
  line-height: 1.2;
  font-family: Okra, Helvetica, sans-serif;
}

.popular-container h1 span {
  font-size: 2rem;
  line-height: 1.2;
  letter-spacing: 1px;
  color: rgb(54, 54, 54);
  font-weight: bolder;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.popular-box:last-child {
  justify-content: center;
}
/* .popular-box {
  line-height: 1.2;
  font-weight: 200;
  color: rgb(81, 77, 77);

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0px 0px 0.5rem;
} */
.popular-box i {
  color: rgb(81, 77, 77);
  font-size: 12px;
}
.num {
  line-height: 1.2;
  font-weight: 200;
  color: #282626;
  font-size: 1.12rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* -------------------------------APP Container----------------------------------- */
.app-content-container {
  display: flex;
  padding: 30px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 500px;
  margin-top: 100px;
  margin-bottom: 50px;
  background-color: rgb(255, 251, 247);
}
.app-box-content img {
  height: 400px;
}
.app-login {
  width: 30%;
  margin-top: 10px;
  padding-left: 30px;
}
.app-login h2 {
  padding-bottom: 10px;
  font-size: 2.5rem;
  font-weight: 300;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.app-login .link {
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 1rem;

  color: rgb(54, 54, 54);
  line-height: 2rem;
  font-weight: 100;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.radio-type {
  display: flex;
  width: 200px;
  justify-content: space-between;
  padding-bottom: 20px;
  padding-top: 20px;
}
.radio-type div {
  display: flex;
  align-items: center;
}
.radio-type label {
  line-height: 2.2rem;

  font-weight: 200;
  color: rgb(70, 68, 68);
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.radio-type input[type="radio"] {
  line-height: 2rem;
  margin-right: 15px;
  font-weight: 100;
  transform: scale(1.5);
  accent-color: rgb(255, 92, 92);
  font-size: 1.3rem;
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.email-type {
  position: relative;
}
.email-type input {
  height: 46px;
  border-radius: 5px;
  width: 270px;
  border: 1px solid rgb(204, 202, 202);
  outline: rgb(255, 92, 92);
}
.email-type input::placeholder {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-left: 20px;
  font-size: 1rem;
  color: rgb(183, 173, 173);
}
.email-type button {
  width: 150px;
  border-radius: 6px;
  border: 1px solid rgb(253, 104, 104);
  background-color:  rgb(253, 104, 104);
  padding: 15px;
  font-size: 0.9rem;
  font-weight: lighter;
  font-family: Okra, Helvetica, sans-serif;
  color: white;
}
.download {
  font-size: 0.9rem;
  font-weight: lighter;
  padding-bottom: 20px;
  padding-top: 20px;
  font-weight: 200;
  color: rgb(152, 149, 149);
  font-family: Okra, Helvetica, sans-serif;
  
}
.app-deploy img {
  width: 150px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 10px;
}
/* -------------------------------Section For Explore Contents Container ------------------------------ */
.explore-options-container{
  margin: 20px 200px;
}
.explore-option-content{
  padding: 25px;
  display: flex;
  margin: 20px 0px;
  border-radius: 0.5rem;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(232, 232, 232);
  box-shadow: 0 1px 3px rgb (226, 223, 223);
  justify-content: space-between;
  cursor: pointer;
}

.explore-options-container h1{
  color: rgb(54, 54, 54);
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 500;
  padding-bottom: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.explore-option-content h3{
  font-weight: 100;
  color: rgb(54, 53, 53);
  font-size: 20px;
  line-height: 26px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.explore-option-content i {
  font-size: 12px;
  color: #555; 
}

/* -------------------------------Footer Container ------------------------------ */
.footer{
  margin-top: 100px ;
  background: rgb(248, 248, 248);
  margin-bottom: -20px;
}
.footer-container{
padding-top: 50px ;
  height: 500px;
  overflow: hidden;
/* border: 1px solid red; */
  margin:30px 200px;
  
  background: rgb(248, 248, 248);
  
}
/* .footer-content-container{
  margin: 0px 200px;
} */
.footer-row{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  overflow: hidden;
  cursor: pointer;

}
.footer-end-row{
  display: flex;
  justify-content: space-evenly;
  
}
.footer-row img{
  height: 30px;
  width: 150px;

}
.end-row-box {
  padding-top: 10px;
  width: 130px;
  height: 30px;
  border: 1px solid rgb(202, 200, 200);
  border-radius: 6px;
  margin-right: 20px;
}
.end-row-box img{
  width: 15px;
  margin: 0;
  padding-left: 12px;
  height: 15px;
}
.end-row-box i {
  font-size: 12px;
  color: #555; 
 

}
.end-row-box i:first-child {
 
  padding-left: 12px;
}
/* -------------------------------Footer row lists Container ------------------------------ */
.zomato-list{
  margin-top: 50px;
  display: flex;
  justify-content: space-around;

}
.zomato-row-list{
  width: 180px;
}
.zomato-row-list h6{
  font-size: 0.9rem;
  padding-bottom: 15px;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    font-weight: 400;
}

.lists a{
  
  text-decoration: none;
  color: black;
  font-size: 0.8rem;
  line-height: 1.5rem;
  padding-bottom: 13px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(105, 105, 105);

}
.lists:last-child{
  padding-bottom: 30px;
  margin-top: 10px;

}
.image-list{
  margin-top: 20px;
}
.image-list img{
  width:150px ;
  margin-top: 10px;
  padding-right: 20px;
}
/* -------------------------------Footer Last Container ------------------------------ */
.container-last-content{
  margin: 20px 0px;
  padding: 20px 0px;
  border-top: 1px solid rgb(199, 198, 198);
}
.container-last-content p{
  font-size: 0.8rem;
    color: rgb(79, 79, 79);
    line-height: 1rem;
   
}